<h2>Edit Member <%= @member.first_name  %></h2>
<form method="POST" action="/members/<%= @member.id  %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value="<%= @member.first_name  %>"/>
    </div>

    <div class="form-el">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" value="<%= @member.last_name  %>"/>
    </div>

    <div class="form-el">
        <label for="level_select">Level:</label>
        <select name="level_id" id="level_select">
          <% @levels.each do |level| %>
          <% if level.id == @member.level_id  %>
              <option value="<%= level.id %>" "selected"><%= level.level.capitalize %></option>
              <% else  %>
              <option value="<%= level.id %>"> <%= level.level.capitalize %></option>
          <% end %>
          <% end %>
        </select>
      </div>

    <div class="form-el">
      <input type="submit" value="Edit Member"/>
    </div>

  </div>
</form>
