<h2>Edit Yoga Class</h2>
<form method="POST" action="/yogaclasses/<%= @yogaclass.id  %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Class:</label>
      <select name="name" id="name_id" >
          <% @yogaclasses.each do |yogaclass| %>
          <% if yogaclass.name == @yogaclass.name  %>
              <option value="<%= yogaclass.name %>" selected = "selected"><%= yogaclass.name.capitalize%></option>
          <% else  %>
          <option value="<%= yogaclass.name %>"><%= yogaclass.name.capitalize%></option>
          <% end %>
          <% end %>
        </select>
    </div>

    <div class="form-el">
      <label for="start_time">Time:</label>
      <input type="datetime-local" name="start_time" id="datetime" value="<%= @yogaclass.start_time  %>"/>
    </div>

    <div class="form-el">
      <label for="duration">Duration:</label>
      <input type="text" name="duration" id="duration" value="<%= @yogaclass.duration  %>"/>
    </div>

    <div class="form-el">
      <label for="capacity">Capacity:</label>
      <input type="text" name="capacity" id="capacity" value="<%= @yogaclass.capacity  %>"/>
    </div>

    <div class="form-el">
      <label for="level_select">Select Level:</label>
      <select name="level_id" id="level_select">
          <% @levels.each do |level| %>
          <% if level.id == @yogaclass.level_id %>
              <option value="<%= level.id  %>" selected="selected"><%= level.level_type.capitalize %></option>
              <% else  %>
              <option value="<%= level.id %>"><%= level.level_type.capitalize %></option>
          <% end %>
          <% end %>
        </select>
    </div>

    <div class="form-el">
      <label for="instructor_select">Select Instructor:</label>
      <select name="instructor_id" id="instructor_select">
          <% @instructors.each do |instructor| %>
          <% if instructor.id == @yogaclass.instructor_id %>
              <option value="<%= instructor.id %>" selected = "selected"><%= instructor.first_name.capitalize %></option>
              <% else  %>
              <option value="<%= instructor.id %>"><%= instructor.first_name.capitalize %></option>
          <% end %>
          <% end %>
        </select>
    </div>

    <div class="form-el">
      <input type="submit" value="Edit Yoga Class"/>
    </div>

  </div>
</form>
