<h1> Yoga Classes </h1>
<table>
  <tr>
    <th>Yoga Class:</th>
    <th></th>
    <th>Start Time:</th>
    <th></th>
    <th>Duration:</th>
    <th></th>
    <th>Spaces Left:</th>
    <th></th>
    <th>Level:</th>
    <th></th>
    <th>Instructor:</th>
    <th></th>
    <th>See Attendees:</th>
    <th></th>
    <th>Edit Class:</th>
  </tr>
  <%for yogaclass in @yogaclasses %>
  <tr>
    <td><a href="/yogaclasses/<%= yogaclass.id  %>"><%= yogaclass.name.capitalize  %></a></td>
    <td>|</td>
    <td><%= yogaclass.start_time %></td>
    <td>|</td>
    <td><%= yogaclass.duration.capitalize %></td>
    <td>|</td>
    <td><%= yogaclass.capacity %></td>
    <td>|</td>
    <td><%= yogaclass.level.level.capitalize %></td>
    <td>|</td>
    <td><%= yogaclass.instructor.first_name.capitalize %></td>
    <td>|</td>
    <td><a href="/yogaclasses/<%= yogaclass.id %>/members"> See Attendees </a></td>
    <td>|</td>
    <td><a href="/yogaclasses/<%= yogaclass.id %>/edit">Edit Class</a></td>
  </tr>
  <% end %>
</table>
