<h4>Yoga Classes</h4>

<div id="yogaclass-wrapper">
  <% @yogaclasses.each do |yogaclass| %>

  <div class="yogaclass">
    <h3><a href="/yogaclasses/<%= yogaclass.id %>"><%= yogaclass.name %></a></h3>
    <p>Time: <%= yogaclass.start_time %></p>
    <p>Duration: <%= yogaclass.duration %></p>
    <p>Level: <%= yogaclass.level.level.capitalize %></p>
    <p>Instructor: <%=yogaclass.instructor.first_name%></p>
  </div>
  <a href="/yogaclasses/<%= yogaclass.id %>/edit">Edit Yoga Class</a>
  <form action="/yogaclasses/<%= yogaclass.id %>/delete" method="POST">
  <input type="submit" value="Delete Class"/></form>
  <a href="/yogaclasses/<%= yogaclass.id %>/members"> See Attendees </a>
  <% end %>
</div>
