<h1> Yoga Classes </h1>
<table>
  <tr>
    <th>ID:</th>
    <th></th>
    <th>Yoga Class:</th>
    <th></th>
    <th>Start Time:</th>
    <th></th>
    <th>Duration:</th>
    <th></th>
    <th>Level:</th>
    <th></th>
    <th>Instructor:</th>
    <th></th>
  </tr>
  <%for yogaclass in @yogaclasses %>
  <tr>
    <td> <a href="/yogaclasses/<%= yogaclass.id  %>"><%= yogaclass.id  %></a> </td>
    <td>|</td>
    <td><%= yogaclass.name.capitalize  %></td>
    <td>|</td>
    <td><%= yogaclass.start_time %></td>
    <td>|</td>
    <td><%= yogaclass.duration.capitalize %></td>
    <td>|</td>
    <td><%= yogaclass.level.level.capitalize %></td>
    <td>|</td>
    <td><%= yogaclass.instructor.first_name.capitalize %></td>
  </tr>
  <% end %>
</table>
