<h2><%= @yogaclass.name %></h2>

<p>Time: <%= @yogaclass.start_time %></p>

<p>Duration: <%= @yogaclass.duration %></p>

<p>Level: <%= @yogaclass.level.level %></p>

<p>Instructor: <%= @yogaclass.instructor.first_name %></p>
