<h4>Yoga Class</h4>

<div id="yogaclass-wrap">
  <% @yogaclasses.each do |yogaclass| %>

    <h3><%= yogaclass.name %></a></h3>
    <p>Time: <%= yogaclass.start_time %></p>
    <p>Duration: <%= yogaclass.duration %></p>
    <p>Spaces Left: <%= yogaclass.capacity %></p>
    <p>Level: <%= yogaclass.level.level_type.capitalize %></p>
    <p>Instructor: <%=yogaclass.instructor.first_name%></p>
    <form action="/yogaclasses/<%= yogaclass.id %>/delete" method="POST">
    <input class= "btn" type="submit" value="Delete Class"/></form>

  <% end %>
</div>
