<h2>Edit Instructor</h2>
<form method="POST" action="/instructors/<%= @instructor.id  %>">
  <div class="form-wrap">

    <div class="form">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" value= "<%= @instructor.first_name%>"/>
    </div>

    <div class="form">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" value= "<%= @instructor.last_name%>"/>
    </div>

    <div class="form">
        <label for="speciality_select">Speciality:</label>
        <select class="drop-down" name="speciality_id" id="speciality_select" >
          <% @specialities.each do |speciality| %>
          <% if speciality.id == @instructor.speciality_id %>
              <option value="<%= speciality.id %>" selected = "selected"><%= speciality.speciality_type.capitalize %></option>
              <% else  %>
              <option value="<%= speciality.id %>"> <%= speciality.speciality_type.capitalize %></option>
              <% end %>
          <% end %>
        </select>
      </div>
      <br>
    <div class="form">
      <input class = "btn" type="submit" value="Edit Instructor"/>
    </div>

  </div>
</form>
