<h4>Instructors</h4>

<div id="instructor-wrapper">
  <% @instructors.each do |instructor| %>

  <div class="instructor">
    <h3><a href="/instructors/<%= instructor.id %>"><%= instructor.first_name.capitalize %></a></h3>
    <p>Speciality: <%= instructor.speciality_id.capitalize %></p>
  </div>
  <a href="/instructors/<%= instructor.id %>/edit">Edit Instructor</a>
  <form action="/instructors/<%= instructor.id %>/delete" method="POST">
  <input type="submit" value="Delete Instructor"></form>
  <% end %>
</div>
